*{
    margin: 0px;
    padding: 0px;
}
body{
background-image: url(cakes.png);
background-repeat: no-repeat;
background-size: 1930px 950px;
}
#text1{
    color:brown;
    font-size:60px;
    margin-top: 12px;
    margin: -left 70px;
    

}
